@font-face {
    font-family: truth;
    src: url(../fonts/TruthCYR-Regular.woff);
}

@font-face {
    font-family: fontello;
    src: url(../fonts/fontello.woff);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: 100%;
    background: url("../images/bg.jpg") fixed
}

.container-1 {
    width: 1090px;
    height: 100%;
    margin: 0 auto;
    background: #ffffff
}

header {
    width: 100%;
    height: 180px;
    position: relative
}

#flag {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.slider {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0
}

* {
    box-sizing: border-box
}

.logo {
    box-sizing: border-box;
    position: relative;
    left: 15px;
    top: 40px;
    z-index: 2;
    width: 350px;
    min-height: 50%;
    font-size: 13px;
    color: #ffffff;
    border-radius: 10px;
    font-family: truth;
    background: rgba(155, 155, 155, 0.5);
    padding-top: 0.5%;
    padding-left: 12px
}

.logo h1 {
    margin: 0;
    text-shadow: 4px 5px 2px #222222
}

nav {
    width: 100%;
    height: 38px;
    background: url("../images/nav-bg.jpg") repeat-x;
    box-shadow: 0px 1px 50px #6d6d6d
}

nav .bg {
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(0deg, rgba(8, 169, 217, 0.9), rgba(0, 165, 215, 0.9));
    background: linear-gradient(90deg, rgba(8, 169, 217, 0.9), rgba(0, 165, 215, 0.9))
}

form[name="search"] {
    display: block;
    margin: 10px 0;
    width: 100%
}

form[name="search"] .search-wrap {
    width: 100%;
    padding: 20px 25px 0 25px;
    margin-top: 3px;
    border-top: 5px solid #1B71C4
}

form[name="search"] input, form[name="search"] button {
    margin: 0
}

#content-wrap {
    width: 100%;
    padding: 25px 12px
}

aside {
    float: left;
    width: 25%
}

aside .menu {
    border: 1px solid #269abc;
    border-radius: 15px
}

.accordeon {
    width: 100%;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%
}

.accordeon .accordeon_list {
    display: block;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0
}

.accordeon .accordeon_list .accordeon_item .accordeon_triger {
    position: relative;
    display: block;
    width: 100%;
    min-height: 50px;
    background: url("../images/li-bg.jpg");
    color: #ffffff;
    text-decoration: none;
    font-family: truth;
    border-bottom: 1px solid #075cb7;
    border-top: 1px solid #00aed9;
    padding: 1% 20px;
    box-sizing: padding-box
}

.accordeon .accordeon_list .accordeon_item .accordeon_triger .ico {
    position: absolute;
    right: 7px;
    top: 17px
}

.accordeon .accordeon_list .accordeon_item:first-child .accordeon_triger {
    border-radius: 15px 15px 0 0;
    border-top: 0px
}

.accordeon .accordeon_list .accordeon_item:last-child .accordeon_triger {
    border-radius: 0 0 15px 15px;
    border-bottom: 0px
}

.accordeon .accordeon_list .accordeon_item .accordeon_inner {
    margin: 0;
    padding: 0;
    display: none
}

.accordeon .accordeon_list .accordeon_item .accordeon_inner .accordeon_inner_item {
    font-weight: bold;
    list-style: none;
    display: block;
    width: 100%;
    min-height: 30px;
    background: #e8e8e8;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dcdcdc
}

.accordeon .accordeon_list .accordeon_item .accordeon_inner .accordeon_inner_item a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 40px;
    color: #5B90B8;
    border-top: #ffffff;
    border-bottom: #dcdcdc;
    font-family: truth
}

.accordeon .accordeon_list .accordeon_item .accordeon_inner .accordeon_inner_item:first-child {
    border-top: 0
}

.accordeon .accordeon_list .accordeon_item .accordeon_inner .accordeon_inner_item:last-child {
    border-bottom: 0
}

.sub .item {
    background: #ebebeb;
    border-radius: 0;
    border-bottom: 1px solid #f7f7f7;
    border-top: 1px solid #e2e2e2
}

.sub .item:first-child {
    border-top: none;
    border-radius: 0
}

.sub .item:first-child a {
    border-radius: 15px 15px 0 0
}

.sub .item:last-child {
    border-bottom: none;
    border-radius: 0
}

.sub .item:last-child a {
    border-radius: 0 0 15px 15px
}

.sub .item a {
    color: #337BAD
}

.menu-ico {
    text-align: right;
    position: absolute;
    right: 7px
}

.main-news-title {
    font-family: truth;
    padding: 0 17px;
    background: url("../images/news-title-bg.png") no-repeat bottom left 7px;
    border-bottom: 5px solid #1B71C4;
    margin: 0
}

.news-items {
    margin-top: 3px;
    border-top: 5px solid #1B71C4
}

.news-item {
    max-height: 200px
}

.date {
    width: 50px;
    height: 50px;
    background: #1B71C4;
    margin: 15px 0;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    float: left
}

.text-block {
    width: 75%;
    float: right;
    padding: 12px 0;
    font-family: sans-serif
}

.text-block h3 {
    color: #0050B0;
    margin: 0;
    font-family: 'Open Sans Bold', arial
}

.clear {
    clear: both
}

#news {
    margin: 20px 0
}

footer {
    height: 75px;
    background: #444444;
    color: #ffffff;
    text-align: center
}

footer span {
    margin: 15px auto
}

#content {
    width: 75%;
    float: right;
    padding: 15px;
    font-family: 'Open Sans Light', arial
}

.article-wrap {
    width: 100%;
    margin: 15px 0
}

.article-wrap img .image > img {
    width: 20%;
    border: 3px solid #0050B0;
    border-radius: 15px;
    float: left
}

.article-wrap:first-child {
    margin: 0
}

.text-news {
    font-family: sans-serif;
    width: 75%;
    float: right
}

.text-news h3 {
    margin: 0;
    color: #1B71C4;
    width: 50%;
    float: left
}

.text-news .more {
    display: block;
    width: 122px;
    height: 33px;
    display: block;
    background: url("../images/button.png");
    color: #ffffff;
    font-size: 18px;
    float: right;
    padding: 4px 0;
    text-align: center
}

.other {
    float: left;
    margin: 0 14px
}

.other:first-child {
    margin: 0
}

.date-article, .views-article {
    color: #0050B0;
    font-weight: bold
}

.pagination {
    margin: 0 auto;
    max-width: 200px
}

.pagination a {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    background: #4B7FB0;
    border-radius: 4px;
    margin: 0 5px;
    color: #ffffff;
    text-align: center;
    text-decoration: none
}

.pagination .active {
    background: #ffffff;
    color: #000;
    border: none
}

.image > img {
    width: 20%;
    border: 3px solid #0050B0;
    border-radius: 15px;
    float: left
}

.text-news-full {
    font-family: sans-serif;
    width: 75%
}

.title {
    margin: 0;
    color: #1B71C4;
    float: left
}

.more {
    display: block;
    width: 122px;
    height: 33px;
    display: block;
    background: url("../images/button.png");
    color: #ffffff;
    font-size: 18px;
    float: right;
    padding: 4px 0;
    text-align: center
}

.text-news-full .other {
    float: left;
    margin: 0 14px
}

.text-news-full .other:first-child {
    margin: 0
}

.image-full {
    width: 20%;
    border: 3px solid #0050B0;
    border-radius: 15px;
    float: left;
    margin: 5px
}

.image-full img {
    width: 100%;
    border-radius: 15px;
    height: 100%
}

.fio {
    font-family: sans-serif;
    color: #1B71C4;
    margin: 0 14px;
    padding: 0
}

.user-description {
    font-family: sans-serif
}

.user-main {
    width: 30%;
    float: left;
    margin: 10px 15px
}

.sub-title {
    color: #269abc
}

.list-item a {
    color: #1B71C4;
    font-family: sans-serif
}
.auth {
    text-align: center;
}
.auth_in {
    width: 98%;
    margin: 5px auto;
    display: block;
}

.full_image {
    max-width: 98%;
    margin: 0 auto;
    border-radius: 15px;
}

.wrap_image {
    max-width: 25%;
    margin: 5px;
    float: left;
}

.img_title {
    width: 100%;
    display: block;
    text-align: center;
}
h3{
    margin: 0;
    text-align: center;
}

.form_in {
    width: 98%;
    height: 25px;
    margin: 3px auto;
    display: block;
}

.auth_link {
    display: block;
    text-align: center;
}

.search-wrap {
    border-top: 5px solid #1B71C4;
    margin-top: 3px;
}

.form {
    margin: 0 auto;
    width: 50%;
}
.register input[type=submit]{
    display: block;
    width: 100%;
    height: 35px;
    font-size: 25px;
}

.avatar {
    width: 98%;
    min-height: 250px;
    display: block;
    
    margin: 2px auto;
    margin-bottom: 15px;
}

.user-menu-panel {
    width: 98%;
    margin: 0 auto;
    border: 1px solid #aaa;
}
.user-menu-panel a{
    text-align: center;
    width: 100%;
    height: 30px;
    display: block;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #eee;
    background: #eaeaea;
    color: #111;
    text-decoration: none;
    font-weight: bolder;
    padding-top:4px; 
}
.user-menu-panel a:last-child{
    border-bottom: none;   
}

.welcome {
    text-align: center;
    width: 98%;
    margin: 3px auto;
}

.tag {
    font-size: 14pt;
    font-weight: 900;
    text-decoration: underline;
}

.tag:after {
    content: ",";
}

.tag:last-child:after {
    content: "";
}

#sr_id {
    float: left;
    width: 5%;
    text-align: center;
}

#sr_title {
    float: left;
    width: 80%;
}

#sr_date {
    width: 15%;
    text-align: center;
    float: left;
}

.article_header {
    border-bottom: 1px solid #000;
}

article {
    margin-bottom: 5px;
}

.header_question {
    height: 30px;
    background: rgba(250, 250, 250, 0.7);
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.content_question {
    background: rgba(100, 195, 239, 0.1);
    min-height: 40px;
    padding: 0 50px
}

.content_question p {
    margin: 0;
}

.question {
    margin: 2px auto;
}

.album {
    width: 24.0%;
    border: 5px solid #075CB7;
    margin-right: 7px;
    float: left;
}

.album:hover {
    border: 5px solid #00AED9;
}

.image-album {
    height: 98%;
    display: block;
    margin: 0 auto;
}

#container-galery {
    width: 95%;
    height: 700px;
    margin: 0 auto;
    border: 1px solid #000;
}

#slider {
    width: 100%;
    margin-left: 0;

}

#pagination {
    display: block;
    padding: 0;
    margin-left: 0;
    width: 100%;
    height: 150px;
    border-radius: 15px;
    border: 1px solid #aaa;
    margin-top: 25px;
    border-left: none;
    border-right: none;
    padding-top: 2px;
    overflow: hidden;
}

.item_gallery {
    display: block;
    float: left;
    list-style: none;
    height: 100%;
    margin: 0 5px;
}

.item_gallery img {
    height: 98%;
    display: block;
}

.paginationContent {
    min-width: 100%;
    min-height: 100%;
}

.small {
    width: 24.2%;
    float: left;
    border: 5px solid #075CB7;
    margin: 3px;
}

.small:hover {
    border-color: #00AED9;
}

.wrap {
    width: 100%;
}

.album_title {
    text-align: center;
    display: block;
}

.bxslider {
    display: block;
    width: 900px;
    height: 100%;
    margin: 0;
}

.slider {
    width: 100%;
    height: 100%;
    height: 180px;
    overflow: hidden;
    margin-left: 900px;
}

#slider {
    margin: 0;
    padding: 0;
    width: 2700px;
    height: 180px;
    margin-left: -900px;
}

.slide {
    list-style: none;
    width: 900px;
    float: left;
    height: 180px;
    display: block;
    /*    position: absolute;*/
}

.slide img {
    width: 100%;
    height: 180px;
}

.slider {
    max-width: 900px;
    max-height: 100%;
    margin: 0;
}

.bx-wrapper {
    padding: 0;
    max-height: 100%;
}
