<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!--  Page:Articles-->
   <div class="container">
       <aside class="sidebar">
           <div class="sidebar__logo">
               <img src="images/Group-1-copy.png" alt="DASHBOARD" class="sidebar__logo__img">
           </div>
           <div class="sidebar__menu">
               <li class="menu__item">
                   <img src="" alt="">
                   <a href="#" class="item__trigger">Документы</a>
               </li>
               <li class="menu__item">
                   <img src="" alt="">
                   <a href="#" class="item__trigger">Статьи</a>
               </li>
               <li class="menu__item">
                   <img src="" alt="">
                   <a href="#" class="item__trigger">Страницы</a>
               </li>
               <li class="menu__item">
                   <img src="" alt="">
                   <a href="#" class="item__trigger">Пользователи</a>
               </li>
               <li class="menu__item">
                   <img src="" alt="">
                   <a href="#" class="item__trigger">Галерея</a>
               </li>
               <li class="menu__item">
                   <img src="" alt="">
                   <a href="#" class="item__trigger">Новости</a>
               </li>
           </div>
           <div class="user_panel">
               <div class="user_panel__avatar">
                   <img src="" alt="" class="avatar__img">
                   
               </div>
               <div class="user_panel__login">JOHN DOE</div>
           </div>
       </aside>
    
       <main id="content">
           <header class="header">
               <h1 class="header__title">
                   Статьи
               </h1>
           </header>
           <div class="content__settings">
               <div class="file">
                   <img src="" alt="">
                   <div class="file__title">Постановления Администрации</div>
                   <div class="file__menu">
                       <a href="#delete" class="menu__triger">Удалить</a>
                       <a href="#delete" class="menu__triger">Получить ссылку</a>
                   </div>
               </div>
               <div class="file">
                   <img src="" alt="">
                   <div class="file__title">Постановления Администрации</div>
                   <div class="file__menu">
                       <a href="#delete" class="menu__triger">Удалить</a>
                       <a href="#delete" class="menu__triger">Получить ссылку</a>
                   </div>
               </div>
               <div class="file">
                   <img src="" alt="">
                   <div class="file__title">Постановления Администрации</div>
                   <div class="file__menu">
                       <a href="#delete" class="menu__triger">Удалить</a>
                       <a href="#delete" class="menu__triger">Получить ссылку</a>
                   </div>
               </div>
               <div class="file">
                   <img src="" alt="">
                   <div class="file__title">Постановления Администрации</div>
                   <div class="file__menu">
                       <a href="#delete" class="menu__triger">Удалить</a>
                       <a href="#delete" class="menu__triger">Получить ссылку</a>
                   </div>
               </div>
               <div class="file">
                   <img src="" alt="">
                   <div class="file__title">Постановления Администрации</div>
                   <div class="file__menu">
                       <a href="#delete" class="menu__triger">Удалить</a>
                       <a href="#delete" class="menu__triger">Получить ссылку</a>
                   </div>
               </div>
               <div class="file">
                   <img src="" alt="">
                   <div class="file__title">Постановления Администрации</div>
                   <div class="file__menu">
                       <a href="#delete" class="menu__triger">Удалить</a>
                       <a href="#delete" class="menu__triger">Получить ссылку</a>
                   </div>
               </div>
               <div class="file">
                   <img src="" alt="">
                   <div class="file__title">Постановления Администрации</div>
                   <div class="file__menu">
                       <a href="#delete" class="menu__triger">Удалить</a>
                       <a href="#delete" class="menu__triger">Получить ссылку</a>
                   </div>
               </div>
               <div class="file">
                   <img src="" alt="">
                   <div class="file__title">Постановления Администрации</div>
                   <div class="file__menu">
                       <a href="#delete" class="menu__triger">Удалить</a>
                       <a href="#delete" class="menu__triger">Получить ссылку</a>
                   </div>
               </div>
               <div class="file">
                   <img src="" alt="">
                   <div class="file__title">Постановления Администрации</div>
                   <div class="file__menu">
                       <a href="#delete" class="menu__triger">Удалить</a>
                       <a href="#delete" class="menu__triger">Получить ссылку</a>
                   </div>
               </div>
               
               <a href="" class="cell__trigger">Добавить</a>
           </div>
       </main>
   </div>
</body>
</html>